<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>HORARIOS</th>
              <th >ACTIVIDADES</th>
              <th>DETALLES</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="addFila">
            {{#each model.information as |m|}}
            <tr>
            <td>
              {{m.thing.horario}}
            </td>
            <td>
              {{m.thing.actividad}}
            </td>
            <td>
              {{m.thing.descripcion}}
            </td>
            <td><button type="button" {{action "borrar" m._id  }} name="button">Borrar</button></td>

          </tr>
          {{/each}}
          </tbody>
        </table>
        <div class="table-responsive">
          <table>
            <tbody>
              <div class="datosTabla">
                <tr>
                  <td>
                    {{input value=horario type='text' class="form-control" placeholder="Ingrese info.."}}
                  </td>
                  <td>
                    {{input value=actividad type='text' class="form-control" placeholder="Ingrese info.."}}
                  </td>
                  <td>
                    {{input value=detalles type='text' class="form-control" placeholder="Ingrese info.."}}
                  </td>
                  <td>
                    <button type="submit" {{action "guardar" horario actividad detalles}}>Guardar</button>
                  </td>
                </tr>
              </div>

              </tbody>
            </table>

        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
